<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Django blog</title>
</head>
<body>
    <ul>
        <li>
            <article>
                <h1>
                    <a href="#">post</a>
                    <p>Lorem ipsum dolor sit amet.</p>
                    <em>author:</em><em>date</em>
                </h1>
            </article>
        </li>
        <li>
            <article>
                <h1>
                    <a href="#">post</a>
                    <p>Cumque numquam a nihil ipsam.</p>
                    <em>author:</em><em>date</em>
                </h1>
            </article>
        </li>
        <li>
            <article>
                <h1>
                    <a href="#">post</a>
                    <p>Modi quis qui ipsum beatae.</p>
                    <em>author:</em><em>date</em>
                </h1>
            </article>
        </li>
    </ul>
</body>
</html>